In [83]:
#Instalación de Librerias
import pandas as pd
import numpy as np
import math
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import mannwhitneyu
from scipy.stats import spearmanr
import scipy.stats as stats
from scipy import stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest, t, levene, bartlett, chi2_contingency
from scipy.stats import ks_2samp
from scipy.stats import bartlett
# -----------------------------------------------------------------------

# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) 
import warnings

In [84]:
# Función para leer csv
def ejecutar_csv(ruta_csv):
    df= pd.read_csv(ruta_csv)
   
    return df

In [85]:
# LLamo la función para leer csv e imprimir las 5 primeras filas 
df_oscar = pd.read_csv('Oscars_Best_Animated_Film_Winners_PIXAR.csv', encoding='latin1', index_col=0)
df_oscar.sample(2)

,Best Animated Film,Country,Studio,Director,Director Gender,Animation Style,Budget,Box Office,Profit,Percentage difference,IMDb Score,Films
Award Year,,,,,,,,,,,,
2014,Frozen,USA,Disney,Jennifer Lee,Female,3D,"£150,000,000.00","£1,280,000,000.00","£1,130,000,000.00",753.33%,7.4,1
2006,Wallace and Gromit: The Curse of the Wererabbit,UK,Aardman,Nick Park,Male,Stopmotion,"£30,000,000.00","£192,600,000.00","£162,600,000.00",542.00%,7.5,1

In [86]:
# LLamo la función para leer csv e imprimir las 5 primeras filas 
df_movies_url = ejecutar_csv('Movies_PIXAR.csv')
df_movies_url.head(1)

,movieId,movieTitle,movieYear,movieURL,movieRank,critic_score,audience_score
0,6bacd7ec-76c9-3f40-b69a-cde708c3ac01,Toy Story 2,1999,https://www.rottentomatoes.com/m/toy_story_2,1,100%,87%

In [87]:
# LLamo la función para leer csv e imprimir las 5 primeras filas 
df_pixar_studio = ejecutar_csv('Pixar__Studio12.csv')
df_pixar_studio.sample(2)

,Moviename,Releaseyear,Budget(million),US and canada(million),Other territories(million),Worldwide(million),Rotten Tomatoes
2,Toy Story 2,1999,900,2459,2515,4974,100%
12,Brave,2012,1850,2373,3017,5390,78%

In [88]:
# LLamo la función para leer csv e imprimir las 5 primeras filas 
df_pixar_movies = ejecutar_csv('Pixar_Movies.csv')
df_pixar_movies.sample(2)

,Year Released,Movie,Length( in minutes),RT Score,IMDb Score,Metacritic Score,Opening Weekend (in millions),Worldwide Gross (in millions),Domestic Gross,International Gross,Domestic %,International %,Production Budget,Academy Nominated,Academy Won,Director(s)
14,2015,Inside Out,102,98,8.1,94,90.4,850.6,356.5,494.1,0.42,0.58,175.0,1,1,"Pete Docter, Ronnie del Carmen"
16,2016,Finding Dory,97,94,7.2,77,135.0,1025.0,486.3,538.7,0.47,0.53,200.0,0,0,"Andrew Stanton, Angus Maclane"

In [89]:
# Utilizamos una función básica de exploración que hemos creado previamente

def exploracion_dataframe (dataframe):
    """
    Realiza un análisis exploratorio básico de un DataFrame, mostrando información sobre duplicados,
    valores nulos, tipos de datos, valores únicos para columnas categóricas y estadísticas descriptivas
    para columnas categóricas y numéricas, agrupadas por la columna de control.

    Parámetros:
    - dataframe (DataFrame): El DataFrame que se va a explorar.

    Returns: 
    No devuelve nada directamente, pero imprime en la consola la información exploratoria.
    """
    
    print(f"Número de filas: {dataframe.shape[0]}. Número de columnas: {dataframe.shape[1]}")
    print("\n ..................... \n")

    print(f"Número de duplicados: {dataframe.duplicated().sum()}")
    print("\n ..................... \n")
    
    print("Porcentaje de nulos:")
    df_nulos = pd.DataFrame(dataframe.isnull().sum() / dataframe.shape[0] * 100, columns = ["%_nulos"])
    display(df_nulos[df_nulos["%_nulos"] > 0])
    
    print("\n ..................... \n")
    print(f"Tipos de columnas:")
    display(pd.DataFrame(dataframe.dtypes, columns = ["tipo_dato"]))
    
    print("\n ..................... \n")
    print("Valores de las columnas categóricas: ")
    dataframe_categoricas = dataframe.select_dtypes(include = "O")
    
    for col in dataframe_categoricas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valores únicos:")
        display(pd.DataFrame(dataframe[col].value_counts()))    
    
    print("\n ..................... \n")
    print("Valores de las columnas numéricas: ")
    dataframe_numericas = dataframe.select_dtypes(include='number')
    
    for col in dataframe_numericas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valores únicos:")
        display(pd.DataFrame(dataframe[col].value_counts()))    

    print("\n ..................... \n")
    descripcion = dataframe.describe().T
    print(f"Principales valores estadísticos son:")
    print(descripcion.to_string())

In [90]:
df_pixar_movies.head()

,Year Released,Movie,Length( in minutes),RT Score,IMDb Score,Metacritic Score,Opening Weekend (in millions),Worldwide Gross (in millions),Domestic Gross,International Gross,Domestic %,International %,Production Budget,Academy Nominated,Academy Won,Director(s)
0,1995,Toy Story,81,100,8.3,96,29.14,365.3,192.50,172.80,0.53,0.47,30.0,3,0,John Lasseter
1,1998,A Bug's Life,96,92,7.2,78,0.30,363.1,162.80,200.30,0.45,0.55,45.0,1,0,"John Lasseter, Andrew Stanton"
2,1999,Toy Story 2,92,100,7.9,88,0.30,511.4,245.90,265.50,0.48,0.52,90.0,1,0,"John Lasseter, Ash Brannon, Lee Unkrich"
3,2001,"Monsters, Inc.",90,96,8.1,79,62.60,560.5,290.14,270.36,0.52,0.48,115.0,3,1,"Pete Docter, David Silverman, Lee Unkrich"
4,2003,Finding Nemo,104,99,8.2,90,70.30,936.1,380.50,555.60,0.41,0.59,94.0,4,1,"Andrew Stanton, Lee Unkrich"

In [ ]:
exploracion_dataframe(df_pixar_movies)

In [ ]:
exploracion_dataframe(df_pixar_studio)

In [ ]:
exploracion_dataframe(df_movies_url)

In [94]:
def renombrar_columnas_con_guion_bajo(df):
    df.columns = [col.replace(" ", "_") for col in df.columns]
    return df

In [95]:
# Renombramos columnas con guion bajo
renombrar_columnas_con_guion_bajo(df_pixar_movies)

,Year_Released,Movie,Length(_in_minutes),RT_Score,IMDb_Score,Metacritic_Score,Opening_Weekend_(in_millions),Worldwide_Gross_(in_millions),Domestic_Gross_,International_Gross,Domestic_%,International_%,Production_Budget,Academy_Nominated,Academy_Won,Director(s)
0,1995,Toy Story,81,100,8.3,96,29.14,365.3,192.50,172.80,0.53,0.47,30.0,3,0,John Lasseter
1,1998,A Bug's Life,96,92,7.2,78,0.30,363.1,162.80,200.30,0.45,0.55,45.0,1,0,"John Lasseter, Andrew Stanton"
2,1999,Toy Story 2,92,100,7.9,88,0.30,511.4,245.90,265.50,0.48,0.52,90.0,1,0,"John Lasseter, Ash Brannon, Lee Unkrich"
3,2001,"Monsters, Inc.",90,96,8.1,79,62.60,560.5,290.14,270.36,0.52,0.48,115.0,3,1,"Pete Docter, David Silverman, Lee Unkrich"
4,2003,Finding Nemo,104,99,8.2,90,70.30,936.1,380.50,555.60,0.41,0.59,94.0,4,1,"Andrew Stanton, Lee Unkrich"
5,2004,The Incredibles,115,97,8.0,90,70.50,631.4,261.40,370.00,0.41,0.59,92.0,4,2,Brad Bird
6,2006,Cars,116,75,7.2,73,60.10,462.0,244.10,217.90,0.53,0.47,70.0,2,0,"John Lasseter, Joe Ranft"
7,2007,Ratatouille,111,96,8.1,96,47.00,626.6,206.40,420.20,0.33,0.67,150.0,5,1,"Bard Bird, Jan Pinkava"
8,2008,WALL-E,97,96,8.4,95,63.10,532.5,223.80,308.70,0.42,0.58,180.0,6,1,Andrew Stanton
9,2009,Up,96,98,8.3,88,68.10,731.3,293.00,438.30,0.40,0.60,175.0,5,2,"Pete Docter, Bob Peterson"
10,2010,Toy Story 3,103,99,8.4,92,110.30,1068.9,30.70,1038.20,0.03,0.97,200.0,5,2,Lee Unkrich
11,2011,Cars 2,113,39,6.2,57,66.30,560.2,415.00,145.20,0.74,0.26,200.0,0,0,"John Lasseter, Brad Lewis"
12,2012,Brave,100,79,7.1,69,66.30,554.6,191.50,363.10,0.35,0.65,185.0,1,1,"Mark Andrews, Brenda Chapman, Steve Purcell"
13,2013,Monsters University,107,80,7.2,65,82.40,743.6,268.50,475.10,0.36,0.64,200.0,0,0,Dan Scanlon
14,2015,Inside Out,102,98,8.1,94,90.40,850.6,356.50,494.10,0.42,0.58,175.0,1,1,"Pete Docter, Ronnie del Carmen"
15,2015,The Good Dinosaur,93,75,6.7,66,39.20,333.8,123.00,210.80,0.37,0.63,187.5,0,0,Peter Sohn
16,2016,Finding Dory,97,94,7.2,77,135.00,1025.0,486.30,538.70,0.47,0.53,200.0,0,0,"Andrew Stanton, Angus Maclane"
17,2017,Cars 3,102,69,6.7,59,53.70,383.5,152.90,230.60,0.40,0.60,175.0,0,0,Brian Fee
18,2017,Coco,105,97,8.4,81,50.10,796.5,210.50,586.00,0.26,0.74,175.0,0,2,"Lee Unkrich, Adrian Molina"
19,2018,Increadibles 2,118,93,7.5,80,182.70,1242.8,608.60,634.20,0.49,0.51,200.0,1,0,Brad Bird
20,2019,Toy Story 4,100,97,7.7,84,121.00,1072.8,434.00,638.80,0.40,0.60,200.0,1,1,Josh Cooley

In [96]:
df_pixar_movies.to_csv('Pixar_Movies_Clean.csv')

In [97]:
df_movies_url.to_csv('Pixar_URLs.csv')